html {
  scroll-behavior: smooth;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Special Elite";
}

.navbar {
  border-bottom: 3px solid #5cc9eb;
}

.navbar-brand {
  font-size: 2.5rem;
  color: black;
}

.nav-item {
  display: inline;
  cursor: pointer;
  font-size: 2rem;
}
